                                        Basic Working of Decision Tree

In [63]:
import pandas as pd 
import numpy as np 

pd.set_option('display.max_columns' , None)

In [64]:
data = {
    'Age': [29, 34, 42, 27, 36, 45, 50, 39, 41, 32],
    'Gender': ['Male', 'Female', 'Female', 'Male', 'Male', 'Female', 'Male', 'Female', 'Male', 'Female'],
    'Blood Pressure': [120, 135, 130, 125, 140, 150, 130, 140, 120, 135],
    'Cholesterol': [180, 200, 190, 178, 210, 220, 200, 210, 180, 190],
    'diabetes' :['False', 'False', 'True', 'False', 'True', 'True', 'False', 'True', 'False', 'False'],
    'smoker' :  ['False', 'True', 'False', 'True', 'False', 'True', 'False', 'True', 'False', 'True'],
    'Exercise': ['Low', 'Medium', 'Medium', 'High', 'Low', 'High', 'Low', 'Medium', 'Medium', 'High'],
    'Family History': ['Yes', 'No', 'No', 'Yes', 'Yes', 'No', 'Yes', 'No', 'Yes', 'No'],
    'Heart': ['No', 'Yes', 'No', 'Yes', 'No', 'Yes', 'No', 'Yes', 'No', 'Yes']
}
# Convert the dictionary to a pandas DataFrame
df = pd.DataFrame(data)
df

,Age,Gender,Blood Pressure,Cholesterol,diabetes,smoker,Exercise,Family History,Heart
0,29,Male,120,180,False,False,Low,Yes,No
1,34,Female,135,200,False,True,Medium,No,Yes
2,42,Female,130,190,True,False,Medium,No,No
3,27,Male,125,178,False,True,High,Yes,Yes
4,36,Male,140,210,True,False,Low,Yes,No
5,45,Female,150,220,True,True,High,No,Yes
6,50,Male,130,200,False,False,Low,Yes,No
7,39,Female,140,210,True,True,Medium,No,Yes
8,41,Male,120,180,False,False,Medium,Yes,No
9,32,Female,135,190,False,True,High,No,Yes

In [65]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 9 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Age             10 non-null     int64
 1   Gender          10 non-null     object
 2   Blood Pressure  10 non-null     int64
 3   Cholesterol     10 non-null     int64
 4   diabetes        10 non-null     object
 5   smoker          10 non-null     object
 6   Exercise        10 non-null     object
 7   Family History  10 non-null     object
 8   Heart           10 non-null     object
dtypes: int64(3), object(6)
memory usage: 848.0+ bytes

In [70]:
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
from sklearn.preprocessing import LabelEncoder

x = df.drop(['Heart'] , axis = 1 )
x = pd.get_dummies(x)
y = df['Heart']
y = LabelEncoder().fit_transform(y)

In [67]:
x_train , x_test , y_train , y_test = train_test_split( x , y , test_size = 0.3 , random_state = 42)

In [69]:
dt = DecisionTreeClassifier()
dt.fit(x_train , y_train)
y_pred = dt.predict(x_test)
result = pd.DataFrame({"actual" : y_test , "predcited" :y_pred})
result

   actual  predcited
0       0          0
1       1          1
2       1          1

In [71]:
#checking the accuracy 

accuracy_score(y_pred , y_test)

1.0